/* CSS Document */
.set-area {
	float: left;width: 270px;
}
.set-area #score {
	color: red;
	padding-right: 10px;
}
/**游戏区域*/
.play-areas div {
	border: 1px solid #999;
	width: 25px;
	height: 25px;
	float: left;
	position: absolute;
}
.play-areas .area {
	background-color: #ccc;
}
.play-areas .snake {
	background-color: #00F;
}
.play-areas .food {
	background-color: #F0F;
}
